<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nova.app.user.dao.UserDao">
	<cache type="org.mybatis.caches.redis.RedisCache" />
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
	<resultMap id="BaseResultMap" type="com.nova.app.user.domain.User">
		<id column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="USER_NAME" property="userName" jdbcType="CHAR" />
		<result column="USER_PASSWORD" property="userPassword" jdbcType="CHAR" />
		<result column="USER_EMAIL" property="userEmail" jdbcType="CHAR" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
		SELECT * FROM t_user WHERE USER_ID = #{userId}
	</select>
	
	<!-- 添加一条记录 -->
	<insert id="insert" parameterType="com.nova.app.user.domain.User">
	insert into t_user(USER_ID,USER_NAME, USER_PASSWORD, USER_EMAIL,photo) 
	values
	(#{userId}, #{userName}, #{userPassword}, #{userEmail},#{photo})
	</insert>
	
	<update id="update" parameterType="com.nova.app.user.domain.User">
		UPDATE T_USER SET
		USER_PASSWORD=#{userPassword},
		USER_EMAIL=#{userEmail}
		WHERE USER_NAME=#{userName}
	</update>
 	<delete id="delete" parameterType="String">
		DELETE FROM T_USER
		WHERE USER_NAME=#{userName}
	</delete>

 	<select id="get" resultMap="BaseResultMap" parameterType="string" useCache="true">
		SELECT * FROM T_USER WHERE USER_NAME = #{userName}
	</select>	
	<select id="getAllUsers" resultMap="BaseResultMap">
		SELECT * FROM T_USER 
	</select>
	<select id="getUserRolesSet" parameterType="string" resultType="string">
        SELECT a.role_name
          FROM t_role a
          WHERE a.id  IN  (SELECT b.role_id
                             FROM t_user_role b
                             LEFT JOIN t_user c
                             ON b.user_id=c.user_id
                             WHERE c.user_name=#{username})
    </select>

    <select id="getRolePermissionsSet" parameterType="string" resultType="string">
        SELECT a.permission_name
          FROM t_permission a
         WHERE a.id IN(
                SELECT b.permission_id
                  FROM t_role_permission b
                  LEFT JOIN t_role c
                  ON b.role_id = c.id
                  WHERE c.role_name =#{role_name})
    </select>
    
    <select id="getPermissions" parameterType="string" resultType="string">
		SELECT functions.permission perm
		  FROM functions, role_function, t_user_role, t_user
		 WHERE t_user.user_name = #{user_name}
		   AND t_user_role.user_id = t_user.user_id
		   AND t_user_role.role_id = role_function.role_id
		   AND role_function.function_id = functions.id
    </select>
    
    <select id="getUserAnthenticaition" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM t_user WHERE user_name=#{username} AND  user_password=#{password}
    </select>
</mapper>