<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nova.app.sys.dao.SysDao">
	<cache type="org.mybatis.caches.redis.RedisCache" />

	<!-- 查询单条记录 -->
	<select id="getPermission" parameterType="String" resultType="string">
		SELECT permission FROM functions WHERE url = #{url}
	</select>

</mapper>